name: Branch
on: 
  push: 
    branches:
     - '*'
env:
  REGISTRY_PREFIX: ghcr.io/${{github.repository}}
  IMG_GOLANG: golang:1.15-alpine
jobs:
  
  todos:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - run: make check-todos
  conflicts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: make check-conflicts
  gitflow:
    runs-on: ubuntu-latest
    if: "!contains(github.ref, 'master')"
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: make check-master

  unit-tests:
    runs-on: ubuntu-latest
    needs: [todos, conflicts]
    steps:
      - uses: actions/checkout@v2
      - run: echo "${{ secrets.ghcr_token }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - run: docker run --rm --volume $(pwd):/src:rw --entrypoint go $REGISTRY_PREFIX/$IMG_GOLANG test -race -coverprofile=coverage.txt -covermode=atomic ./pkg/...
      - run: bash <(curl -s https://codecov.io/bash)
  linting:
    runs-on: ubuntu-latest
    needs: [todos, conflicts]
    steps:
      - uses: actions/checkout@v2
      - run: echo "${{ secrets.ghcr_token }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - run: make docker-lint GOLANG_IMAGE=$REGISTRY_PREFIX/$IMG_GOLANG
